<div class="container-fluid d-column-row justify-content-center ">
<h1><%= @about.title%></h1>
  <div class="row">
    <div class="col-lg-4">
      <p><%= @about.about_us%></p>
    </div>
  </div>
  <div class ="row">
  <div class="col-sm-4">
  <div>
    <img class="img-fluid" src="<%= @about.image%>" alt="AboutImage">
    </div>
  </div>
  </div>
</div>
