
<div class="container-fluid d-column-row justify-content-center ">
<h1>Contact Us</h1>
  <div class="row">
    <div class="col-lg-4 ">
      <p>If you have any questions or concerns send us an email and we will reply with 2-3 business days.</p>
    </div>
  </div>
  <div class ="row">
  <div class="col-sm-4">
  <p><a href="mailto: <%= @contact.email_address%>"><%= @contact.email_address%></a></p>
  </div>
</div>