<div class="container">
<h3>Search By Keyword: </h3>
<form action="/search">
  <input name="q" type="text" placeholder="Search">
  <label for="ccs">Choose a category:</label>
  <select id="ccs" name="ccs">
    <option value="">All</option>
    <option value="1">Sealed Prouct</option>
    <option value="2">Graded Cards</option>
    <option value="3">Singles</option>
  </select>
  <button type="submit">Search</button>
</form>