<%= render "layouts/navbar" %>

<div class="container">
<h3>Categories</h3>
<div id="categories">
  <% @categories.each do |category| %>
    <p>
    <%= category.name %>
    </p>

  <% end %>
</div>

</div>