<div class="header">

  <a href="/about_page"><h1 class="logo">Pokemon Collector</h1></a>

    <ul class="main-nav">
      <li><%= "About"%></li>
      <li><%= "Singles", root_path%></li>
      <li><%= "Sealed Product"%></li>
      <li><%= "Graded Cards"%></li>
    </ul>

</div>